<h1 class="text-center">{{question.questionContent}}</h1>

<h3 class="text-center">{{totalVotes}} vote</h3>

<div class="progress">
  <div class="progress-bar progress-bar-danger" style="width: {{percentNo}}%">
    {{percentNo}}% <span class="glyphicon glyphicon-thumbs-down"></span>
  </div>
  <div class="progress-bar progress-bar-primary" style="width: {{percentYes}}%">
    {{percentYes}}% <span class="glyphicon glyphicon-thumbs-up"></span>
  </div>
</div>

<div class="text-center">
    <a href="/" class="btn btn-success">Xem câu hỏi khác</a>
</div>